#googleMap{
height: 400px;
width: 100%;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

confirmer{
	height: 50px;
}
.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.content span {
	float: right;
}

span.note {
    color: yellow;
    float: right;
}

.radio2{
	margin-right: 20px;
}

div#liste{
	width: 100%;
}